BOOTNODE_ID_LOCAL=QmWYmZrHFPkgX8PgMgUpHJsK6Q6vWbeVXrKhciunJdRvKZ
# development=dev
# local=../src/chain-built/chain_def_local.json
# harbour=../src/chain-built/chain_def_harbour.json
CHAIN_VERSION=dev
ENDPOINT_DEVELOPMENT=127.0.0.1
ENDPOINT_TESTNET=node-1
# Development or Production
NODE_ENV=Development
NODE_KEY=88dc3417d5058ec4b4503e0c12ea1a0a89be200fe98922423d4334014fa6b0ee
BOOTNODE_ID_NODE_TESTNET=QmWYmZrHFPkgX8PgMgUpHJsK6Q6vWbeVXrKhciunJdRvKZ
