[package]
name = "mining-execution-token"
version = "0.1.0"
authors = ["Luke Schoen"]
edition = "2018"

[features]
default = ['std']
std = [
    'codec/std',
    'scale-info/std',
    'log/std',
    'safe-mix/std',
    'frame-support/std',
    'frame-system/std',
    'pallet-balances/std',
    'pallet-randomness-collective-flip/std',
    'pallet-transaction-payment/std',
    'sp-core/std',
    'sp-io/std',
    'sp-runtime/std',
    'sp-std/std',

    'roaming-operators/std',
    'mining-setting-token/std',
    'mining-eligibility-token/std',
    'mining-rates-token/std',
    'mining-sampling-token/std',
    'mining-claims-token/std',
]

[dependencies]
codec = { version = '2.3.1', package = 'parity-scale-codec', default-features = false, features = ['derive', 'max-encoded-len'] }
scale-info = { version = '1.0', default-features = false, features = ['derive'] }
log = { version = '0.4.14', default-features = false }
safe-mix = { version = '1.0.0', default-features = false }
frame-support = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
frame-system = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
pallet-balances = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
pallet-randomness-collective-flip = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
pallet-transaction-payment = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
sp-core = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
sp-io = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
sp-runtime = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }
sp-std = { git = 'https://github.com/paritytech/substrate', rev = '26d69bcbe26f6b463e9374e1b1c54c3067fb6131', default-features = false }

roaming-operators = { default-features = false, package = 'roaming-operators', path = '../../../roaming/roaming-operators' }
mining-setting-token = { default-features = false, package = 'mining-setting-token', path = '../../../mining/setting/token' }
mining-eligibility-token = { default-features = false, package = 'mining-eligibility-token', path = '../../../mining/eligibility/token' }
mining-rates-token = { default-features = false, package = 'mining-rates-token', path = '../../../mining/rates/token' }
mining-sampling-token = { default-features = false, package = 'mining-sampling-token', path = '../../../mining/sampling/token' }
mining-claims-token = { default-features = false, package = 'mining-claims-token', path = '../../../mining/claims/token' }

[dev-dependencies]
