[dependencies]
derive_more = '0.99.2'
log = '0.4.14'
codec = { package = 'parity-scale-codec', version = '2.0.0' }
structopt = "0.3.8"
serde = { version = "1.0.119", features = ["derive"] }
hex-literal = "0.3.1"
# RPC related dependencies
jsonrpc-core = "18.0.0"

[dependencies.frame-benchmarking]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.frame-benchmarking-cli]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.datahighway-parachain-runtime]
path = '../runtime'
version = '1.1.0'

[dependencies.pallet-transaction-payment-rpc]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.substrate-prometheus-endpoint]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-basic-authorship]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-chain-spec]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-cli]
features = ['wasmtime']
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-client-api]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-consensus]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-executor]
features = ['wasmtime']
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-network]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-keystore]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-rpc]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-rpc-api]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-service]
features = ['wasmtime']
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-transaction-pool]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-transaction-pool-api]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-tracing]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-api]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-block-builder]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-blockchain]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-consensus]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-consensus-aura]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-core]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-inherents]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-keystore]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"


[dependencies.sp-offchain]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-runtime]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-session]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-timestamp]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-transaction-pool]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sp-trie]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.substrate-frame-rpc-system]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[build-dependencies.substrate-build-script-utils]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

# Cumulus dependencies
[dependencies.cumulus-client-consensus-aura]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-client-consensus-common]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-client-collator]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-client-cli]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-client-network]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-primitives-core]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-client-service]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

[dependencies.cumulus-primitives-parachain-inherent]
git = 'https://github.com/paritytech/cumulus.git'
branch = "polkadot-v0.9.11"

# Polkadot dependencies
[dependencies.polkadot-primitives]
git = "https://github.com/paritytech/polkadot"
branch = "release-v0.9.11"

[dependencies.polkadot-service]
git = "https://github.com/paritytech/polkadot"
branch = "release-v0.9.11"

[dependencies.polkadot-cli]
git = "https://github.com/paritytech/polkadot"
branch = "release-v0.9.11"

[dependencies.polkadot-test-service]
git = "https://github.com/paritytech/polkadot"
branch = "release-v0.9.11"

[dependencies.polkadot-parachain]
git = "https://github.com/paritytech/polkadot"
branch = "release-v0.9.11"

[dependencies.sc-consensus-epochs]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[dependencies.sc-consensus-aura]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

# #

[dependencies.sc-telemetry]
git = 'https://github.com/paritytech/substrate'
branch = "polkadot-v0.9.11"

[[bin]]
name = 'datahighway-collator'

[package]
authors = ['Anonymous']
build = 'build.rs'
edition = '2018'
homepage = 'https://substrate.dev'
license = 'Unlicense'
name = 'datahighway-collator'
repository = 'https://github.com/substrate-developer-hub/substrate-parachain-template'
version = '3.0.0'
[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[features]
default = []
runtime-benchmarks = ['datahighway-parachain-runtime/runtime-benchmarks']
