name: Create release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Add wasm toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-08-31
          target: wasm32-unknown-unknown
          override: true

      - name: Initialize environment and build
        run: |
          rustup update stable
          rustup toolchain install nightly-2021-08-31
          rustup default nightly-2021-08-31
          rustup target add wasm32-unknown-unknown --toolchain nightly-2021-08-31
          cargo build --release

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: ubuntu-18.04-datahighway
          path: target/release/datahighway
