name: Test

on: [push]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Initialize WASM build environment
        run: |
          rustup update stable
          rustup toolchain install nightly-2021-06-21
          rustup default nightly-2021-06-21
          rustup target add wasm32-unknown-unknown --toolchain nightly-2021-06-21

      - name: Run cargo check
        run: cargo +nightly-2021-06-21 check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Initialize WASM build environment
        run: |
          rustup update stable
          rustup toolchain install nightly-2021-06-21
          rustup default nightly-2021-06-21
          rustup target add wasm32-unknown-unknown --toolchain nightly-2021-06-21

      # Runs integration tests in the runtime/tests folder
      - name: Run All Tests
        run: |
          cargo +nightly-2021-06-21 test

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Install nightly toolchain for rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt, clippy

      # nightly-2021-06-21-x86_64-unknown-linux-gnu
      - name: Initialize WASM build environment
        run: |
          rustup update stable
          rustup toolchain install nightly
          rustup default nightly
          rustup target add wasm32-unknown-unknown --toolchain nightly

      - name: Run cargo fmt
        run: |
          rustup component add rustfmt --toolchain nightly
          cargo fmt --all -- --check

      # Ignore use of Clippy until a clippy.toml file may be used. See README.md
      # - name: Run cargo clippy
      #   # uses: actions-rs/cargo@v1
      #   # with:
      #   #   command: clippy
      #   #   args:  --release -- -D warnings
      #   # FIXME - temporary fix below. See https://github.com/rust-lang/rust-clippy/issues/5094#issuecomment-579116431
      #   run: |
      #     rustup component add clippy --toolchain nightly-2021-06-21-x86_64-unknown-linux-gnu
      #     rustup component add clippy-preview --toolchain nightly-2021-06-21-x86_64-unknown-linux-gnu
      #     cargo +nightly-2021-06-21 clippy-preview -Zunstable-options
